/*
body {
  color: #efd; 
  background: #453;
  padding: 0 5em;
  margin: 0  
}
*/

h1 { 
  padding: 1em 1em 1em 1em; 
  background: #675;
  
}

h1,
h2,
h3 { 
  color: #efd; 
  //border-top: 1px dotted #fff; 
  //margin-top: 2em; 
}

p { 
  margin: 1em 0 
}

#blogContent {
    padding-top: 150px;
}

.footer {
    //position: absolute;
    //bottom: 10px;
}

#indexHTMLBlock {
  background-image: url('/static/images/WL_topo_background_website_grayscale.png');
  //position: absolute;
  //top: 20em;
  //height: 20em;
  
}

#login_div {
    padding-top: 150px;
}

#mainFooter {
  background: #675;
  //position: absolute;
  //bottom: 3em;
  //height: 10em;
}

#mainFooterMenus {

}

#mainHeader {
  background: #675;
  //position: absolute;
  //top: 3em;
  //height: 10em;
}

#mainHeader-ribbon {
  background: #675;
}

#mainHeaderMenu-ribbon {
  background: #675;
}