<!DOCTYPE html>

<!-- # base html page template -->

{% load staticfiles %}

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>TrailsNorthAmerica</title>

        <!-- Bootstrap Core CSS -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{% static 'css/grayscale.css' %}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        
        <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}" />

    </head>

    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

        <!-- Navigation -->
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand page-scroll" href="/index/#page-top">
                        <i class="fa fa-play-circle"></i>  <span class="light">TrailsNorthAmerica
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/index/#download">Install</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/blog/">Blog</a>
                        </li>
                        <!--
                        <li>
                            <a class="page-scroll" href="/main/support">Help</a>
                        </li>
                        -->
                        <li>
                            <a class="page-scroll" href="/index/#about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="/index/#contact">Contact</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" href="main/login">
                                Login
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/main/login">Login</a>
                                </li>
                                <!--
                                <li>
                                    <a href="/main/register">Register</a>
                                </li>
                                -->
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <div id='mainContent'>
            {% block mainContent %}
            {% endblock %}
        </div>


        <!-- Footer -->
        <footer class='footer'>
            <div class="container text-center">
                <p>Copyright &copy; Trails North America Mapping Ltd 2016</p>
            </div>
        </footer>

        <!-- jQuery -->
        <!--<script src="{% static 'js/jquery.js' %}"></script>-->
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>


        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!--<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->

        <!-- Plugin JavaScript -->
        <script src="{% static 'js/jquery.easing.min.js' %}"></script>

        <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
        <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>-->

        <!-- Custom Theme JavaScript -->
        <script src="{% static 'js/grayscale.js' %}"></script>

    </body>

</html>