<!-- index.html opening page template -->

{% extends "main/base-v2.html" %}
{% load staticfiles %}

{% block mainContent %}

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p class="intro-text">Great Trail Maps<br>delivered off-line</p>
                    <a href="#download" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>



<!-- Download Section -->
<section id="download" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Install</h2><h3>TrailsNorthAmerica BC App</h3>
                <p>Beta test the app</p>
                <a href="https://play.google.com/apps/testing/org.trailsnorthamerica.trails" class="btn btn-default btn-lg" target="_blank">Visit Beta Page</a>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="about" class="content-section text-center">
    <div class="about-section">
      <div class="container">
	  <div class="col-lg-8 col-lg-offset-2">
	      <h2>About</h2><h3>TrailsNorthAmerica</h3>
	      <p>TrailsNorthAmerica bridges trails, users, stewards, and business to use, promote, and maintain trails</p>
		    <p>We are a social enterprise located in Victoria, British Columbia, Canada.</p>  
		    <p>Dedicated to trails and supporting all the trail stewards with our profits.</p>
	  </div>
      </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact</h2><h3>TrailsNorthAmerica</h3>
            <p>Feel free to email us to provide some feedback on our map app, give us suggestions, or to just say hello!</p>
            <p><a href="mailto:feedback@trailsnorthamerica.org">feedback@trailsnorthamerica.org</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://twitter.com/TrailsNA" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                </li>
                <!--<li>
                    <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                </li>
                <li>
                    <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                </li>-->
            </ul>
        </div>
    </div>
</section>

<!-- Map Section -->
<!--<div id="map"></div>-->
{% endblock %}
