{% extends "main/base-v2.html" %}
{% load staticfiles %}

{% block mainContent %}

<div id='login_div' class='container'>
    <h1>Login @ TrailsNorthAmerica</h1>

    <form id="login_form" method="post" action="/main/login/">
        {% csrf_token %}
        Username: <input type="text" name="username" value="" size="50" />
        <br />
        Password: <input type="password" name="password" value="" size="50" />
        <br />

        <input type="submit" value="submit" />
    </form>
</div>
{% endblock %}