{% extends "main/base-v2.html" %}
{% load staticfiles %}

{% block mainContent %}



<div id="registration_form" class="container">
    <h1>Register with TrailsNorthAmerica</h1>

    {% if registered %}
    <strong>Thank You for Registering!</strong>
    <a href="/main/">Return to the homepage.</a><br />
    {% else %}
    <h1>Register @ TrailsNorthAmerica</h1><br />

    <form id="user_form" method="post" action="/main/register/"
          enctype="multipart/form-data">

        {% csrf_token %}

        <!-- Display each form. The as_p method wraps each element in a paragraph
             (<p>) element. This ensures each element appears on a new line,
             making everything look neater. -->
        {{ user_form.as_p }}

        <!-- Provide a button to click to submit the form. -->
        <input type="submit" name="submit" value="Register" />
    </form>
    {% endif %}
</div>
{% endblock %}