<!--template for displaying blogs-->

{% extends "main/base-v2.html" %}
{% block mainContent %}
<div id="blogContent" class="container">
    {% for post in posts %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.timestamp }}</p>
    <p>{{ post.body }}</p>
    {% endfor %}
</div>
{% endblock %}